.cart{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8em;
    padding-bottom: 0.8em;
}

.cart__left{
    border: solid 1px lightgrey;
    flex:2.5;
}

.cart__lefttop{
    border-bottom: solid 1px lightgrey;
    padding: 1em;
    text-align: center;
    font-weight: 600;
}

.cart__leftitems> .cart__item:last-child{
    border-bottom: solid 0px lightgrey;
}

.cart__item{
    border-bottom: solid 1px lightgrey;
    display: flex;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
}
